@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
	font-family: 'ABeeZee', sans-serif;
}

.navbar {
	width: 100%;
	margin: auto;
	display: inline-block;
	justify-content: space-between;
	text-align: center;
	position: fixed;
}
.navbar a {
	color: #5c482e;
	text-decoration: none;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

#skew {
	transform: rotate(45deg);
	border: none;
}

.header-page {
	background-image: url('img/sky.jpg');
	background-size: cover;
	background-position: center;
	margin: auto;
}

.header-page-item {
	max-width: 50%;
	text-align: left;
	align-items: right;
	padding: 100px 0 20px 0;
	margin: auto;
	flex-grow: 1;
}

.header-page-item h1 {
	font-weight: bold;
}

.middle-page {
	display: flex;
	background: url('img/orange.jpg') ;
	margin: auto;
	color: white;
}

.middle-page-item {
	flex-grow: 1;
	width: 50%;
	padding: 20px;
	text-align: left;
}

.middle-page-item-left {
	text-align: right;
	flex-grow: 1;
	width: 30%;
	padding: 20px;
}

.bottom-page {
	display: flex;
	background: url('img/cream.jpg') ;
}

.bottom-page-item {
	flex-grow: 1;
	width: 30%;
	padding: 50px;
	text-align: left;
}

.bottom-page-item-left {
	flex-grow: 1;
	width: 30%;
	padding: 20px;
	text-align: center;
}

.bottom-page-item-left h1 {
	font-weight: bold;
	font-size: 40px;
	color: green;
	font-family: sans-serif;
}
